
@{
    ViewData["Title"] = "Index";
}

@{
    IEnumerable<Trade>? trades = ViewData["Trades"] as IEnumerable<Trade>;
}

<h1>Trade Summary</h1>
<table class="table">
    <thead>
        <tr>
            <th>Asx Code</th>
            <th>Order Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Consideration</th>
            <th>Brokerage</th>
            <th>GST</th>
            <th>Trade Date</th>
        </tr>
    </thead>
    <tbody>
        @if (trades is not null)
        {
            @foreach (Trade trade in trades)
            {
                <tr>
                    <td>@trade.Code</td>
                    <td>@trade.TradeType</td>
                    <td>@trade.Units</td>
                    <td>@trade.Price</td>
                    <td>@trade.Consideration</td>
                    <td>@trade.Brokerage</td>
                    <td>@trade.GST</td>
                    <td>@trade.PurchaseDate</td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    var total = ViewData["Total"];
}

<h1>Taxable capital gain</h1>
<p>
    Your net taxable capital gain from this period is: @total
</p>

@{
    IEnumerable<Holding>? holdings = ViewData["Holdings"] as IEnumerable<Holding>;
}
<h1>Current Holdings</h1>
<table class="table">
    <thead>
        <tr>
            <th>Asx Code</th>
            <th>Units</th>
            <th>Average Price</th>
            <th>Purchase Date</th>
        </tr>
    </thead>
    <tbody>
        @if (holdings is not null)
        {
            @foreach (Holding holding in holdings)
            {
                <tr>
                    <td>@holding.Code</td>
                    <td>@holding.Units</td>
                    <td>@holding.AVGPrice</td>
                    <td>@holding.PurchaseDate</td>
                </tr>
            }
        }
    </tbody>
</table>
