@model IEnumerable<StockCSV.Models.Holding>

@{
    ViewData["Title"] = "Index";
}

<h1>Current Holdings</h1>

<p>
    <a asp-action="Create">Add holding from start of financial year</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Units)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AVGPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Units > 0)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AVGPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>

@{
    IEnumerable<Trade>? trades = ViewData["Trades"] as IEnumerable<Trade>;
}

<h1>Trades</h1>
<table class="table">
    <thead>
        <tr>
            <th>Asx Code</th>
            <th>Order Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Consideration</th>
            <th>Brokerage</th>
            <th>GST</th>
            <th>Trade Date</th>
        </tr>
    </thead>
    <tbody>
        @if (trades is not null)
        {
            @foreach (Trade trade in trades)
            {
                <tr>
                    <td>@trade.Code</td>
                    <td>@trade.TradeType</td>
                    <td>@trade.Units</td>
                    <td>@trade.Price</td>
                    <td>@trade.Consideration</td>
                    <td>@trade.Brokerage</td>
                    <td>@trade.GST</td>
                    <td>@trade.PurchaseDate</td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    var total = ViewData["Total"];
}

<p>
    the total is: @total
</p>

<h1>Buffered File Upload</h1>

<hr />

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert" style="margin-top:20px">
        @ViewBag.Message
    </div>
}